<header class="header">

    <div class="container">

        <div class="header-content">

            <!-- LOGO -->

            <a
                href="../pages/index.html"
                class="logo"
            >

                <img
                    src="../public/images/logo.png"
                    alt="POWERFIT GYM Logo"
                    class="logo-img"
                >

            </a>

            <!-- NAVIGATION -->

            <nav class="navigation">

                <!-- MOBILE TOGGLE -->

                <button
                    class="menu-toggle"
                    id="menuToggle"
                >

                    <span class="hamburger"></span>
                    <span class="hamburger"></span>
                    <span class="hamburger"></span>

                </button>

                <!-- NAV LINKS -->

                <ul
                    class="nav-list"
                    id="navList"
                >

                    <li>

                        <a
                            href="../pages/index.html"
                            class="nav-link"
                        >

                            Home

                        </a>

                    </li>

                    <li>

                        <a
                            href="../pages/services.html"
                            class="nav-link"
                        >

                            Services

                        </a>

                    </li>

                    <li>

                        <a
                            href="../pages/memberships.html"
                            class="nav-link"
                        >

                            Memberships

                        </a>

                    </li>

                    <li>

                        <a
                            href="../pages/about.html"
                            class="nav-link"
                        >

                            About

                        </a>

                    </li>

                    <li>

                        <a
                            href="../pages/contact.html"
                            class="nav-link"
                        >

                            Contact

                        </a>

                    </li>

                    <!-- LOGIN -->

                    <li id="loginNav">

                        <a
                            href="../pages/login.html"
                            class="nav-link"
                        >

                            Login

                        </a>

                    </li>

                    <!-- REGISTER -->

                    <li id="registerNav">

                        <a
                            href="../pages/register.html"
                            class="btn btn-primary"
                        >

                            Register

                        </a>

                    </li>

                    <!-- PROFILE -->

                    <li
                        id="profileNav"
                        style="display: none;"
                    >

                        <a
                            href="../pages/profile.html"
                            class="profile-icon"
                        >

                            <span id="profileLetter">

                                U

                            </span>

                        </a>

                    </li>

                    <!-- LOGOUT -->

                    <li
                        id="logoutNav"
                        style="display: none;"
                    >

                        <a
                            href="#"
                            class="nav-link"
                            onclick="logout()"
                        >

                            Logout

                        </a>

                    </li>

                </ul>

            </nav>

        </div>

    </div>

</header>